@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

// font-family: 'Fira Code', monospace;

// font-family: 'Poppins', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  min-height: 550px;
}

nav {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    padding: 10px 35px;
    border: 1px solid #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    li {
      .github_logo {
        display: block;
        width: fit-content;
        height: 26px;

        svg {
          height: 100%;
          display: block;
        }
      }
      h1 {
        cursor: pointer;
        display: block;
        width: fit-content;
        font-size: 21px;
        position: relative;
        font-weight: 700;
        // &::after {
        //   content: "";
        //   position: absolute;
        //   top: 96%;
        //   left: 50%;
        //   transform: translate(-50%, -50%);
        //   height: 3px;
        //   width: 70%;
        //   background-color: #ff3366;
        // }
      }
    }
    .autosave{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        svg{
            height: 19px;
        }
        .autosave_txt{
            font-size: 14px;
            font-weight: 600;
        }
    }
  }
}

.red{
    color: #ff3366;
}